/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Body and general layout */
body,
html {
  height: 100%;
}

.general-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 70px; /* Offset by the height of the header */
}

/* Fixed Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensures the header is always on top */
  height: 70px; /* Explicitly set header height */
  justify-content: space-between;
  background-color: #1a202c;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

/* Main Content */
.general-content > main {
  flex: 1; /* Ensures main content takes up available space */
  background-color: #1a202c; /* Example background for main content */
  color: white;
}

/* Footer */
footer {
  margin-top: auto;
  background-color: #1a202c;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
