.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.projectName {
  margin-bottom: 10px;
}

.socialLinks {
  margin-bottom: 10px;
}

.link {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.contact {
  font-size: 14px;
}
